body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    width: 560px;
    /* align-items: flex-start; */
    background-color: black;
    margin: auto; 
    padding: 5px;
    /* position: relative; */
}
.monitor{
    background-color: black;
    padding-top: 80px;
    color: white;
    font-size: 50px;
    text-align: right;
    width: 560px;
}
.but{
    float: left;
    width: 70px;
    padding:16px 0px 16px 0px;
    margin: 5px;
    text-align: center;
    font-size: 24px;
    border-radius: 30px;
    cursor: pointer;
    background-color: darkgray;
}
.but:hover{
    background-color:gainsboro;
}
.numberBut{
    float: left;
    width: 70px;
    padding:16px 0px 16px 0px;
    margin: 5px;
    text-align: center;
    font-size: 24px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #3b3b3b;
    color: white;
}
.numberBut:hover{
    background-color: gray;
}
.signBut{
    float: left;
    width: 70px;
    padding: 16px 0px 16px 0px;
    margin: 5px;
    background-color: orange;
    color: white;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    font-size: 24px;
}
.signBut:hover{
    background-color: #ffdfa3;
    color: orange;
}
.operationBut{
    float: left;
    width: 70px;
    padding:16px 0px 16px 0px;
    margin: 5px;
    text-align: center;
    font-size: 24px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #1f1f1f;
    color: white;
}
.operationBut:hover{
    background-color: #3d3d3d;
}